<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>王庆强的主页</title>
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body { padding-top: 50px; }

        .carousel-inner .item img { width: 100%; /*height: 510px;*/ max-height: 250px; }

        .img-list { width: 180px; height: 240px; }
        .tab-content img { margin-top: 15px; margin-left: 20px; max-height: 150px; }
        .copyright { text-align:center;}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小弋的主页</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">小练习</a></li>
                <li><a href="#">AngularJS从懵逼到入门</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">前端学习<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">AngularJS</a></li>
                        <li><a href="#">CommonJS/AMD/CMD</a></li>
                        <li><a href="#">NodeJS</a></li>
                        <li class='divider'></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS进阶</a></li>

                    </ul>
                </li>
                <li><a href="#">关于小弋</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--图片轮播-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="/static/imgs/index/head2.jpg" alt="呵呵呵">
            <div class="carousel-caption">
                <h1>这是什么鬼</h1>

            </div>
        </div>
        <div class="item active">
            <img src="/static/imgs/index/huaqiangu.jpg" alt="花千骨">
            <div class="carousel-caption">
                热播大剧《花千骨》，看师徒虐恋

            </div>
        </div>
        <div class="item">
            <img src="/static/imgs/index/head.jpg" alt="传智PHP">
            <div class="carousel-caption">
                这是传智播客啊

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-rounded img-list" src="/static/imgs/index/chenyixun.jpg" alt="陈奕迅" />
            <h2>陈奕迅</h2>
            <p>陈奕迅（Eason Chan），1974年7月27日出生于香港，中国香港流行男歌手、演员，香港演艺人协会副会长之一。</p>
            <p><a class="btn btn-default" href="javascript:void(0);" role="button">详细</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-rounded img-list" src="/static/imgs/index/zhangguorong.jpg" alt="张国荣" />
            <h2>张国荣</h2>
            <p>张国荣，1956年9月12日生于香港，歌手、演员、音乐人；影视歌多栖发展的代表之一，昵称“哥哥”。</p>
            <p><a class="btn btn-default" href="#" role="button">详细</a> </p>
        </div>
        <div class="col-sm-4">
            <img class="img-rounded img-list" src="/static/imgs/index/lijian1.jpg" alt="李健" />
            <h2>李健</h2>
            <p>李健，中国流行男歌手。毕业于清华大学电子工程系。《我是歌手》中翻唱《假如爱有天意》令人动容</p>
            <p><a class="btn btn-default" href="#" role="button">详细</a> </p>
        </div>
    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#cyx" aria-controls="home" role="tab" data-toggle="tab">陈奕迅</a></li>
            <li role="presentation"><a href="#zgr" aria-controls="profile" role="tab" data-toggle="tab">张国荣</a></li>
            <li role="presentation"><a href="#lj" aria-controls="messages" role="tab" data-toggle="tab">李健</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cyx">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>陈奕迅</h2>
                        <p>
                            陈奕迅（Eason Chan），1974年7月27日出生于香港，中国香港流行男歌手、演员，香港演艺人协会副会长之一。<br />
                            代表作：《十年》、《因为爱情》、《K歌之王》等
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img class="feature-image img-responsive" src="/static/imgs/index/chenyixun.jpg" alt="陈奕迅" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="zgr">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>张国荣</h2>
                        <p>
                            张国荣，1956年9月12日生于香港，歌手、演员、音乐人；影视歌多栖发展的代表之一，昵称“哥哥”。<br />
                            代表作：《霸王别姬》、《倩女幽魂》系列、《阿飞正传》、《风继续吹》等
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img class="feature-image img-responsive" src="/static/imgs/index/zhangguorong.jpg" alt="张国荣" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="lj">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>李健</h2>
                        <p>
                            李健，中国流行男歌手，毕业于清华大学电子工程系。2001年4月，正式与清华校友卢庚戌成立“水木年华”演唱组，后退出。<br />
                            代表作：《风吹麦浪》、《一生有你》、《假如爱有天意》、《当你老了》等
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img class="feature-image img-responsive" src="/static/imgs/index/lijian.jpg" alt="李健" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="/static/imgs/index/head.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item ">百度<small>22</small></a>
                <a href="#" class="list-group-item active">腾讯</a>
                <a href="#" class="list-group-item">谷歌</a>
                <a href="#" class="list-group-item">阿里</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="thumbnail">
                <table class="table table-striped table-hover table-condensed">
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                    <tr>
                        <td><a href="#"><small>最近好无聊啊，学学bootstrap</small></a></td>
                        <td><small>2015-8-10</small></td>
                    </tr>
                </table>
            </div>
            <nav>
                <ul class="pagination" style="margin-top: 0px;">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#"><span>1</span></a></li>
                    <li class=""><a href="#"><span>2</span></a></li>
                    <li class=""><a href="#"><span>3</span></a></li>
                    <li class=""><a href="#"><span>4</span></a></li>
                    <li class=""><a href="#"><span>5</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <p class="copyright">
        © 2016-2016 小弋 版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank"> ICP证：京ICP备16035629号-1</a> <span>
                <img src="//gtms02.alicdn.com/tps/i2/TB1dG7pJXXXXXXCXVXXiC47GVXX-44-44.png" style="display: inline-block; width: 22px">
                <img src="//gtms03.alicdn.com/tps/i3/TB18_.kJXXXXXcOXVXXiC47GVXX-44-44.png" style="display: inline-block; width: 22px"></span>
    </p>
</div>

<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
