<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>王庆强的主页</title>
    <link href="/static/resource/css/reset.css" rel="stylesheet">
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="/static/resource/css/job.css" rel="stylesheet">-->
    <link href="/static/resource/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body { padding-top: 50px; }

        .carousel-inner .item img { width: 100%; /*height: 510px;*/ max-height: 250px; }

        .img-list { width: 180px; height: 240px; }
        .tab-content img { margin-top: 15px; margin-left: 20px; max-height: 150px; }
        .copyright { text-align:center;}
    </style>
</head>
<body ng-controller="indexController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小弋的主页</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">小练习</a></li>
                <li><a href="#">AngularJS从懵逼到入门</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">前端学习<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">AngularJS</a></li>
                        <li><a href="#">CommonJS/AMD/CMD</a></li>
                        <li><a href="#">NodeJS</a></li>
                        <li class='divider'></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS进阶</a></li>

                    </ul>
                </li>
                <li><a href="#">关于小弋</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="isSignin">
                <p class="navbar-text">欢迎您，{{username}}</p>
                <li><a href="#" ng-click="signOut()">退出</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!isSignin">
                <li><a ui-sref="sign">亲，请登录</a></li>
                <li><a ui-sref="sign({sign_up:true})">先注册</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view="main"></div>

<!--<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>-->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/node_modules/angular/angular.min.js"></script>
<script src="/static/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/static/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/static/controller/controller.js"></script>
<script src="/static/service/photosService.js"></script>
<script src="/static/controller/photosController.js"></script>
<script src="/static/routers/photosRouter.js"></script>

<script src="/static/service/jobService.js"></script>
<script src="/static/controller/jobController.js"></script>
<script src="/static/routers/jobRouter.js"></script>

<script src="/static/service/service.js"></script>
<script src="/static/controller/signController.js"></script>
<script src="/static/routers/signRouter.js"></script>

<script src="/static/controller/chatController.js"></script>
<script src="/static/routers/chatRouter.js"></script>

<script src="/static/routers/router.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
